@{
    ViewBag.Title = "About";
}
<style>
    img{
        display: block;
        margin-left:auto;
        margin-right:auto;
    }

    h4{
        text-align: justify;
        margin-bottom: 30px
    }

    h1{
        text-align: center;
        text-d
    }

</style>
<div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-10" ; style="background-color: white; border-radius: 35px; padding: 20px">
        <h1><b>The Maths Centre (The Cube) Situated in room C141</b></h1>
        <h4> </h4>
        <h4>
            Started in 2015 at NWRC (the first within the island of Ireland in an FE College), the Maths Centre has a basic brief and  that is to provide support to those students across the college who may have found themselves overwhelmed with the mathematical content of their course. This well equipped space offers one-to-one teaching as well as small groups of up to 4 students (Covid19 restrictions permitting) studying on the same course.
        </h4>
        <h4>
            We now work with both Student Services and Learning Link to identify as soon as possible any student who would benefit from our support. We work closely with the lecturers of all courses throughout the college so that we have access to all class materials and assessments which have a level of mathematical content that you the student will be studying.
        </h4>
        <img src="~/Images/NWRCMathsCentre Picture.jpg", width="405" height="270" class="center"/>
        <h4>
            Your Maths Centre appointments should not be viewed simply as extra maths classes, we are a welcoming environment that works at your pace and level of ability with all the lessons driven by you and your needs. We will start with the most basic concepts of Maths to give you the groundwork required to build up to any level of maths within the college.
            Our new booking system makes it easy to self-refer and book your preferred slot. It enables you to instantly see availability of the one-to-one/group sessions and allows you to contact the tutor directly to ensure your place.
        </h4>
        <h4 style="text-align: center;">
           <b> We look forward to welcoming you to The Maths Centre.</b>
        </h4>
        <h4 style="text-align: center;">
            <b>The NWRC Maths Team.</b>
        </h4>

    </div>
    <div class="col-md-1"></div>
</div>
